<header>
    <nav class="navbar">
      <div class="nav-logo"> 
        <a href="index.html">Portfolio</a>
      </div>
      <div class="nav-toggle" id="navToggle">☰</div>
      <ul class="nav-links" id="navLinks">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="services.html">Services</a></li>
        <li class="has-submenu">
          <a href="realisations.html">Réalisations</a>
          <ul class="submenu" id="projectsSubmenu"></ul>
        </li>
        <li><a href="mesInfos.html">Mes Infos</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  